body {
    /* background-color: #000; */
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#stage {
    position: relative;
}

canvas {
    position: absolute;
}

#all-canvas {
    /* display: block; */
    /* margin: 0 auto; */
    z-index: 1;
}

#gray-canvas {
    z-index: 2;
}

#text-canvas {
    z-index: 3;
}

#carret-canvas {
    z-index: 4;
}

#old-text-canvas {
    z-index: 5;
}

#menu-canvas {
    z-index: 6;
}

#debug-canvas {
    z-index: 7;
}
